
.mainParent{
    border:solid salmon;
    margin:1em;
    padding:1em;
    display:flex;
    justify-content: space-evenly;
}


.children{
    border:solid green;
    font-size:18px;
}

#mark{
    font-size:25px;
}

#molly{
    background-color:pink;
    padding:1em;
    border:solid green;
}
#max{
    border:none;
}

.example{
    border:solid green;
    margin:5em;
    text-align:center;
    font-size:32px;
}

.mainPic{
    height:300px;
}
#bugs{
    border:solid blue;
}